[submodule "vim.sym/pack/plugin/start"]
	path = vim.sym/pack/plugin/start
	url = git@github.com:christoomey/vim-tmux-navigator.git
[submodule "tmux.sym/plugins/tpm"]
	path = tmux.sym/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
