[submodule "tmux.sym/plugins/tpm"]
	path = tmux.sym/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
[submodule "vim.sym/pack/bundle/start/vim-tmux-navigator"]
	path = vim.sym/pack/bundle/start/vim-tmux-navigator
	url = git@github.com:christoomey/vim-tmux-navigator.git
